[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
fastapi = "0.108.0"
uvicorn = {extras = ["standard"], version = "*"}
psycopg2 = "2.9.9"
SQLAlchemy = "2.0.23"
pytest = "7.4.4"
python-multipart = "0.0.6"
python-jose = "3.3.0"
cryptography = "41.0.7"
passlib = "1.7.4"
bcrypt = "4.1.2"
alembic = "1.13.1"
httpx = "0.26.0"
setuptools = "69.0.2"


[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
