certifi==2023.11.17
distlib==0.3.8
filelock==3.13.1
pipenv==2023.11.15
platformdirs==4.1.0
setuptools==69.0.2
virtualenv==20.25.0
fastapi==0.108.0
SQLAlchemy==2.0.23
pytest==7.4.4
passlib==1.7.4
bcrypt==4.1.2
alembic==1.13.1
httpx==0.26.0
python-multipart==0.0.6
python-jose==3.3.0
psycopg2==2.9.9
cryptography==41.0.7